{% extends 'recipes/base_templates/base.html' %}

{% block body %}

<div class="search-container">
    <div class="container">
        <form action="" class="search-form">
            <input type="search" class="search-input" name="search" placeholder=" Digíte o nome da receita">
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>

<main class="main-content-container container-xl">
    <div class="main-content main-content-list container">

    </div>
</main>

{% endblock %}